@import "variables.scss";

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.darkTheme {
  .blob__1 {
    position: absolute;
    width: 0%;
    height: 0%;
    background: $bg-color;
    z-index: 0;
    border-radius: 50%;
    animation: blob 3s forwards;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  .modal-content {
    background-color: #424e5c;
    color: $text-color;

    img {
      background-color: white;
      border-radius: 50%;
    }
  }

  h1 {
    color: $text-color;
    position: relative;
    z-index: 1;
  }

  @keyframes blob {
    0% {
      width: 0%;
      height: 0%;
    }
    100% {
      width: 200%;
      height: 200%;
    }
  }
}

.mapTooltip {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #f7f7f7 #f7f7f7 transparent transparent;
    top: 50px;
    left: 30px;
    filter: drop-shadow(0px 2px 2px #0e0e0e3b);
  }
}

.map__container {
  margin-top: 80px;
}

.highcharts-point {
  fill: #29b8ca9c;
  stroke: white;

  &:hover {
    fill: #2077828c;
  }
}

.theme_switch {
  position: absolute;
  right: 0;
  width: 100px;
  height: 100px;
  background: black;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  z-index: 10;

  button {
    border: none;
    background-color: transparent;
    img {
      width: 40px;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 35%;
      left: 71%;
    }
  }
}
